
@media (min-width: 1200px) {
    .hero {
        margin-left: 500px;
    }

    .text {
        font-size: 30px;
    }
    .text2 {
        font-size: 20px;
    }

}
@media (max-width: 575.98px) {
    .text {
        font-size: 16px;
    }
    .hero-img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    .bar{
        display: none;
    }

    .hero {
        margin-left: 70px;
    }
    
}
@media (min-width: 992px) {

    .text {
        font-size: 20px;
    }
    .text2 {
        font-size: 16px;
    }
}
  .cards:hover img {
    content: url('./images/2.jpg');
    transition: 0.15s ease;

  }
  .name:hover{
    color: rgb(66, 151, 66);
  }
  

.back{
    background-image: url(../Cap-3-again/images/bg-home1-01.jpg);

}







  